* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0; }

.navbar-brand {
  padding: 5px;
  width: 250px; }
  .navbar-brand img {
    width: 100%; }

.focus-button-style {
  color: white;
  background: -webkit-linear-gradient(209deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background: -o-linear-gradient(209deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background: linear-gradient(241deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background-size: 800%,800%;
  border-radius: 5px;
  -webkit-animation: focus-button-style 10s infinite ease;
  animation: focus-button-style 10s infinite ease;
  width: 80%;
  margin: 20px auto; }

.register_btn_style {
  background-color: #e28b00;
  border-radius: 150px; }
  @media screen and (max-width: 769px) {
    .register_btn_style {
      background-color: #fff; } }

#alchemy-header #navbar li a {
  color: rgba(255, 255, 255, 0.8);
  font-style: bold;
  padding: 15px; }

a.alchemy-project-item {
  overflow: hidden;
  min-height: 140px; }
  a.alchemy-project-item img {
    width: 100%;
    height: 200px; }

.applynow-button-style {
  list-style: none; }

ul.nav li, ul.nav li a {
  display: block; }

@-webkit-keyframes focus-button-style {
  0% {
    background-position: 0; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

@keyframes focus-button-style {
  0% {
    background-position: 0; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

#alchemy-home.borrow-wrapper .gradient {
  opacity: 0.8; }

.youtube-videos-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8); }
  .youtube-videos-content .video-foreground, .youtube-videos-content .video-foreground iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .youtube-videos-content .video-foreground iframe {
    height: 120%; }
    @media screen and (max-width: 768px) {
      .youtube-videos-content .video-foreground iframe {
        width: 300%;
        left: -100%;
        height: 100%; } }

.social-circle {
  margin-top: 10px; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 15px auto;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-menu li {
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media screen and (max-width: 768px) {
      .footer-menu li {
        font-size: 14px;
        margin-right: 2px; } }

.footer-end {
  padding: 10px;
  font-size: 14px;
  background: #52d3aa;
  color: rgba(255, 255, 255, 0.9); }

.howwork-wrapper {
  text-align: center;
  position: relative;
  margin: 15px auto; }
  .howwork-wrapper img {
    width: 100%; }

.sponser-wrapper {
  text-align: center;
  margin: 15px auto; }
  .sponser-wrapper .sponser {
    width: 150px;
    display: inline-block;
    margin-left: 15px; }
    .sponser-wrapper .sponser img {
      width: 100%; }

#alchemy-container {
  min-height: 100%;
  padding: 120px 15px;
  position: relative;
  color: #fff; }
  #alchemy-container .container {
    position: relative;
    z-index: 3;
    color: #fff;
    line-height: 40px;
    font-size: 30px; }
    @media screen and (max-width: 768px) {
      #alchemy-container .container {
        font-size: 15px;
        line-height: 25px; } }
  #alchemy-container .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    background-color: #329998;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzMjk5OTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzZjYzk5YyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #329998), color-stop(1, #6cc99c));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top left, #329998 0%, #6cc99c 100%);
    /* IE10+ */
    background-image: -webkit-gradient(linear, left top, right bottom, from(#329998), to(#6cc99c));
    background-image: -o-linear-gradient(top left, #329998 0%, #6cc99c 100%);
    background-image: linear-gradient(to bottom right, #329998 0%, #6cc99c 100%);
    background-image: -ms-linear-gradient(top left, #329998 0%, #6cc99c 100%); }

#alchemy-home .text-inner a.youtube-player-icon {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  border: 2px solid rgba(255, 255, 255, 0.3); }
  #alchemy-home .text-inner a.youtube-player-icon i {
    opacity: 0.3;
    line-height: 140px;
    font-size: 60px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #alchemy-home .text-inner a.youtube-player-icon:hover, #alchemy-home .text-inner a.youtube-player-icon:active {
    background: rgba(255, 255, 255, 0.6); }
    #alchemy-home .text-inner a.youtube-player-icon:hover i, #alchemy-home .text-inner a.youtube-player-icon:active i {
      font-size: 70px;
      opacity: 1; }
  @media screen and (max-width: 600px) {
    #alchemy-home .text-inner a.youtube-player-icon {
      width: 50px;
      height: 50px;
      margin: 10px auto; }
      #alchemy-home .text-inner a.youtube-player-icon i {
        font-size: 20px;
        line-height: 40px; }
      #alchemy-home .text-inner a.youtube-player-icon:hover, #alchemy-home .text-inner a.youtube-player-icon:active {
        background: rgba(255, 255, 255, 0.6); }
        #alchemy-home .text-inner a.youtube-player-icon:hover i, #alchemy-home .text-inner a.youtube-player-icon:active i {
          font-size: 30px; } }

.section-heading {
  padding-bottom: 10px;
  margin-bottom: 30px; }

.social {
  margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  #alchemy-intro, #alchemy-invest {
    margin-top: 0; } }

#alchemy-intro .section1-icon .alchemy-block {
  width: 20%;
  height: auto; }
  #alchemy-intro .section1-icon .alchemy-block h2 {
    line-height: 1.2; }
  #alchemy-intro .section1-icon .alchemy-block i.alchemy-intro-icon {
    margin-bottom: 10px; }

#alchemy-invest .alchemy-block {
  width: 32.3%;
  margin-left: 0.5%; }

.alchemy-intro-icon.laptop-icon:before {
  content: url("../../images/icon/laptop.png"); }

.alchemy-intro-icon.low-icon:before {
  content: url("../../images/icon/low.png"); }

.alchemy-intro-icon.clock-icon:before {
  content: url("../../images/icon/clock.png"); }

.alchemy-intro-icon.money_box-icon:before {
  content: url("../../images/icon/money_box.png"); }

.alchemy-intro-icon.invest-icon:before {
  content: url("../../images/icon/invest.png"); }

#alchemy-work .table-responsive {
  border: none; }

#alchemy-work table {
  margin-top: 50px; }
  #alchemy-work table td {
    text-align: left;
    font-size: smaller; }

#alchemy-work button {
  margin-top: 30px; }
  #alchemy-work button a {
    text-decoration: none; }

#alchemy-about .section-heading {
  padding-bottom: 0; }

#alchemy-join {
  overflow: hidden;
  position: relative;
  padding: 2em 0; }
  #alchemy-join .section-heading {
    margin-bottom: 0; }

#alchemy-contact {
  background: transparent url("../../images/contact-bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3b3d40; }
  #alchemy-contact h3 {
    color: #000; }
  #alchemy-contact ul.working-hours {
    -webkit-padding-start: 0px; }
    #alchemy-contact ul.working-hours li {
      list-style: none; }
      #alchemy-contact ul.working-hours li.date {
        font-weight: bolder; }

button a:focus,
button a:hover {
  text-decoration: none; }

.footer-end p {
  word-wrap: break-word;
  margin-bottom: 1em; }

@media screen and (min-width: 1000px) {
  #alchemy-about .carousel {
    width: 1000px;
    margin: 0 auto; } }

@media screen and (max-width: 769px) {
  #alchemy-intro .section1-icon .alchemy-block {
    max-height: 220px; }
    #alchemy-intro .section1-icon .alchemy-block h2 {
      font-size: 18px;
      margin-bottom: 10px; } }

@media screen and (max-width: 640px) {
  #alchemy-home,
  #alchemy-home .text-wrap {
    height: 100vh; }
  #alchemy-home {
    padding-top: 55px; }
  #alchemy-intro .section1-icon.block-padding {
    padding-left: 10%;
    padding-right: 10%; }
    #alchemy-intro .section1-icon.block-padding .alchemy-block {
      width: 50%;
      padding: 30px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block h2 {
        font-size: 18px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block i.alchemy-intro-icon {
        margin-bottom: 10px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block:last-Child {
        width: 50%;
        margin: 0 25%; }
  #alchemy-invest {
    margin-top: -50px; }
    #alchemy-invest .alchemy-block {
      width: 100%;
      max-height: 280px;
      margin: 5px auto; }
      #alchemy-invest .alchemy-block .alchemy-text .alchemy-intro-icon {
        margin-bottom: 10px; } }

@media screen and (max-width: 500px) {
  #alchemy-intro .alchemy-block {
    width: 50%; }
    #alchemy-intro .alchemy-block h2 {
      font-size: 14px;
      line-height: 1; }
    #alchemy-intro .alchemy-block .alchemy-intro-icon {
      font-size: 24px;
      margin-bottom: 10px; } }

@media screen and (max-width: 450px) {
  #alchemy-home {
    padding-top: 80px; }
  #alchemy-intro {
    margin-top: 0px; }
    #alchemy-intro .section1-icon.block-padding .alchemy-block:last-Child {
      width: 60%;
      margin: 0 20%; } }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  top: 0;
  background: #1b1f47 url("../images/bg.jpg") no-repeat top center; }

.index-wrapper {
  overflow: hidden;
  padding-top: 80px;
  position: relative;
  z-index: 12;
  max-width: 1400px;
  margin: auto; }

.card-bg {
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  position: relative;
  z-index: 30;
  margin: 15px auto;
  padding: 15px; }

.section-header h6 {
  margin-bottom: 10px; }

.section-header h4 {
  color: #797979; }

.section-body th span {
  font-size: 1.0rem; }

.section-body th p {
  color: #301570;
  margin: 0; }

.heading {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #301570;
  padding: 0;
  margin: 0; }

.sponser-wrapper {
  overflow: hidden; }
  .sponser-wrapper ul {
    display: block;
    position: relative;
    padding: 15px; }
    .sponser-wrapper ul .slick-prev {
      left: 15px;
      font-family: 'Glyphicons Halflings'; }
      .sponser-wrapper ul .slick-prev::before {
        color: #301570; }
    .sponser-wrapper ul .slick-next {
      right: 15px;
      font-family: 'Glyphicons Halflings'; }
      .sponser-wrapper ul .slick-next::before {
        color: #301570; }
  .sponser-wrapper li {
    width: 180px;
    display: inline-block; }
    .sponser-wrapper li img {
      max-width: 180px; }

.icon-status {
  background-color: gray;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%; }

.icon-status-check {
  background-color: #301570; }

.gradation {
  position: relative;
  width: 62px;
  margin: auto;
  text-align: center; }

.gradation__item {
  width: 13px;
  height: 28px;
  border-radius: 3px;
  background-color: #dadfea;
  margin-right: 5px;
  display: inline-block; }

.gradation__item--active {
  background-color: #d219e1; }

#alchemy-intro {
  margin-top: 0px;
  padding-bottom: 0px; }
  #alchemy-intro .section-heading {
    margin-bottom: 0px; }
  #alchemy-intro .section1-icon .alchemy-block {
    width: 49%;
    margin: 0.5%;
    padding: 10px;
    display: inline-block;
    height: auto; }
    #alchemy-intro .section1-icon .alchemy-block:first-child {
      margin-left: 0%; }
    #alchemy-intro .section1-icon .alchemy-block h2 {
      margin: 0; }

.btn--violet {
  background-color: rgba(210, 25, 225, 0.5);
  color: #fff;
  margin: 15px auto;
  vertical-align: middle; }
  .btn--violet i {
    line-height: 15px;
    vertical-align: top;
    margin-right: 15px; }
  .btn--violet span {
    padding: 0;
    margin: 0; }

.process__middle g#_3_line circle {
  -webkit-animation: rote1 10s infinite ease;
  animation: rote1 10s infinite ease;
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0; }

@-webkit-keyframes rote1 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes rote1 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
