@import "oldAlchecoin.scss";
@import "animatebg.scss";
// common
.index-wrapper{
  overflow: hidden;
  padding-top:80px;
  position: relative;
  z-index: 12;
  max-width: 1400px;
  margin:auto;
}
.card-bg{
  background:#fff;
  box-shadow: 0 0 8px rgba(#000,0.5);
  border-radius: 25px;
  position: relative;
  z-index: 30;
  margin:15px auto;
  padding:15px;
}
// selection1
.section-header{
  h6{
    margin-bottom:10px;
  }
  h4{
    color:#797979;
  }
}
.section-body{
  th span{
    font-size:1.0rem;
  }
  th p{
    color: #301570;
    margin:0;
  }
  thead tr th{
    
  }

}
.heading{
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #301570;
  padding: 0;
  margin: 0;
}
// SPOINSER

.sponser-wrapper{
  overflow: hidden;
  ul{
    display:block;
    position: relative;
    padding:15px;
    .slick-prev{
      left:15px;
      font-family: 'Glyphicons Halflings';
      &::before{
          color:#301570;
      }
    }
    .slick-next {
      right:15px;
      font-family: 'Glyphicons Halflings';
      &::before{
          // width: 0;
          // height: 0;
          // border-style: solid;
          // border-width: 25px 0 25px 25px;
          // border-color: transparent transparent transparent #301570;
          color:#301570;
      }
    }
  }
  li{
    width:180px;
    display: inline-block;
    img{max-width:180px;}
  }
}

.icon-status {
  background-color:gray;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  color:#fff;
  width:25px;
  height:25px;
  border-radius: 50%;
}
.icon-status-check{
   background-color:#301570;
}
.gradation{
  position: relative;
  width:62px;
  margin:auto;
  text-align: center;
}
.gradation__item{
    width: 13px;
    height: 28px;
    border-radius: 3px;
    background-color: #dadfea;
    margin-right: 5px;
    display: inline-block;
}

.gradation__item--active{
  background-color:#d219e1;
}

#alchemy-intro{
  margin-top:0px;
  padding-bottom: 0px;
  .section-heading{
    margin-bottom: 0px;
  }
  .section1-icon .alchemy-block{
    width:49%;
    margin: 0.5%;
    padding:10px;
    display: inline-block;
    height:auto;
    &:first-child{
      margin-left: 0%;
    }
    h2{
      margin:0;
    }
  }
}

.btn--violet{
  background-color:rgba(#d219e1,.5);
  color:#fff;
  margin:15px auto;
  vertical-align: middle;
  i{
    line-height:15px;
    vertical-align: top;
    margin-right:15px;
  }
  span{
    padding:0;
    margin:0;
  }
}

// process的圖片檔
.process__middle{
  g#_3_line circle{
    animation: rote1 10s infinite ease;
    transform-origin: 0 0 0;
  }
}

@keyframes rote1{
  0%{transform: rotate(360deg);}
  100%{
    transform: rotate(0deg);
  }
}