// common
.card-bg {
    background: #fff;
    border-radius: 25px;
    position: relative;
    z-index: 30;
    margin: 80px auto;
    padding: 15px;
    border: 2px solid $green;
    @media screen and (max-width: 768px) {
        margin:2.5% 0;
    }
}

.card-bg2 {
    position: relative;
    z-index: 30;
    padding: 15px;
    margin: 15px auto;
    @media screen and (max-width: 768px) {
        margin:2.5% 0;
    }
}

// selection1
.section-header {
    margin: auto;
    h6 {
        margin-bottom: 10px;
    }
    h4 {
        color: #797979;
    }
}

.section-body {
    th span {
        font-size: 1.0rem;
    }
    th p {
        color: #301570;
        margin: 0;
    }
    thead tr th {}
}

.heading {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: $green;
    padding: 10px 0 20px;
    margin: 0;
}

// common
.index-wrapper {
    overflow: hidden;
    padding-top: 100px;
    position: relative;
    z-index: 12;
    max-width: 1300px;
    margin: auto;
}

// title
.black-block {
    text-align: center;
    margin: 15px auto;
    color: #fff;
    h3 {
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        margin: 50px auto 20px;
    }
    h4 {
        color: $green;
        font-size: 1.5rem;
    }
}

@keyframes rote1 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}