// common
.card-bg {
    background: $card-bg;
    border-radius: 25px;
    position: relative;
    z-index: 30;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid $purple;
    @media screen and (max-width: 768px) {
        margin:2.5% 0;
    }
}

.card-bg-dark {
    position: relative;
    z-index: 30;
    padding: 15px;
    margin: 30px auto 30px;
    text-align: center;
    color: #fff;
    @media screen and (max-width: 768px) {
        margin:2.5% 0;
    }
}
//selection1
.section-header {
    margin: auto;
        h6 {
        margin-bottom: 10px;
        word-spacing: 1.5;
    }
    p {
        color: $text-color;
        line-height: 1.2;
        text-align: left;
        padding: 5px 20px;
        font-size: 16px;

    }
}

.section-body {
    th span {
        font-size: 1.0rem;
    }
    th p {
        color: #301570;
        margin: 0;
    }
}

h3.heading {
    font-size: 36px;
    line-height: 1.5;
    color: $heading;
    padding: 0px 0 20px;
    margin: 0 auto;
    text-align: center;
}
h4.heading {
    font-size: 18px;
    text-align: center;
    color:$h4-color;
    padding: 10px 0 20px;
    text-align: center;
    margin: 0;
}

.card-bg {
    .heading {
        color: $purple;
    }
}

// SPONSER - Our partner
.sponser-wrapper {
    overflow: hidden;
    ul {
        position: relative;
        text-align: center;
        .slick-prev {
            left: 15px;
            font-family: 'Glyphicons Halflings';
            &::before {
                color: #301570;
            }
        }
        .slick-next {
            right: 15px;
            font-family: 'Glyphicons Halflings';
            &::before {
                color: #301570;
            }
        }
    }
    li {
        width: 19%;
        vertical-align: middle;
        display: inline-block;
        margin: 10px;
        img {
            width: auto;
            max-height: 80px;
            display: block;
            margin: 0 auto;
        }
    }
}

.icon-status {
    background-color: gray;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    line-height: 25px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-status-check {
    background-color: #301570;
}


// common
.index-wrapper {
    overflow: hidden;
    padding-top: 100px;
    z-index: 12;
    max-width: 1300px;
    margin: auto;
    &:after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      height:800px;
      left:0;
      bottom:0;
      background:url(../images/bg2.jpg) no-repeat bottom center;
      opacity: 0.5;
    }
}

// title
@keyframes rote1 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}