    .base_block {
    max-width: 990px;
    background-color: #40acff;
    background-image: radial-gradient(farthest-side at 30% 50px, #379bf4 0, #6e1dbf 1200px);
    border: 1px solid #3d86eb;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    .left_block {
        padding: 50px 25px;
    }
    .video_box {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 75%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .right_block {
        background: rgba(255, 255, 255, .2);
        padding: 50px 25px;
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, .5);
    }
    h3 {
        color: #fff;
    }
}

.flip-clock-wrapper {
    .flip {
        box-shadow: unset;
        width: 40px;
        margin: 1px;
        >li a div div.inn {
            background: #6b7ada;
            color: #fff;
            font-size: 45px;
            text-shadow:unset;
        }
    }
}

.flip-clock-divider {
    width: 10px;
    .flip-clock-label {
        color: #fff;
    }
}

.flip-clock-dot {
    opacity: 0;
}

.progress_bg {
    background: rgba(81, 0, 101, .1);
    padding: 15px 10px;
    margin: 10px auto;
    border-radius: 5px;
    .progress {
        margin-bottom: 0;
        background: transparent;
        .progress-bar {
            background-color: #fff;
        }
    }
   }

    @mixin button($bg_color, $border_color, $color, $hover_bg, $hover_border) {
        border: 1px solid $border_color;
        color: $color;
        background-color: $bg_color;
        transition: background-color .15s, border-color .15s;
        padding: 0 10px;
        line-height: 50px;
        border-radius: 8px;
        width: 100%;
        &:hover {
            background-color: $hover_bg;
            border-color: $hover_border;
        }
    }

    button.coinBtn {
        @include button(#fff, #fff, #594cb4, #e8eef6, #d9e3f1) &.reverseBtn {
            @include button(transparent, rgba(255, 255, 255, .3), #fff, rgba(255, 255, 255, .3), #d9e3f1) margin-top: 20px;
        }
    }