// footer started
ul{-webkit-padding-start: 0px;}
#footer{  
  padding:10px 0;
  background:#060115;
  overflow: hidden;
}

.footer-menu-wrapper{
  vertical-align: middle;
  .footer-menu{
    display: flex;
    align-content:center;
          align-items:stretch;
                justify-content:space-around;
    li{
      padding:5px;
      border-radius: 5px;
      text-overflow: ellipsis;
      list-style: none;
      &:hover{
        background:$purple;
        color:white;
        a{
          color:white;
          text-decoration: none;
          span{
            line-height: 1.2;
          }
        }
      }
    }
    @media screen and (max-width:768px){
      li{
        width:23%;
        padding:0.25%;
        text-align: center;
        border:1px solid $purple;
      }
    }
  } 
}
// social nav
.social-nav{
  display:block;
  ul.social{
   text-align: right;
   width:60%;
   line-height: 100px;
   li{
     text-align: center;
   }
  }
  @media screen and (max-width:768px){
    ul.social{
      text-align: center;
    }
  }
}
// footer finished