.manager-block,
.advisor-block {
    width: 205px;
    display: block;
    margin: 0 auto 20px;
    overflow: hidden;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        text-decoration: none;
        transform: scale(1.01);
        img {
            opacity: .5;
            transform: scale(1.1);
            display: block;
            transition: scale .5s linear;
        }
        .manager-img,
        .advisor-img {
            &:before {
                font-family: 'icomoon';
                content: "\e036";
                position: absolute;
                display: none;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -30%);
                transition: scale .5s linear;
                font-size: 48px;
                text-align: center;
                z-index: 2;
            }
            &:after {
                transform: scale(1.1);
                opacity: 1;
            }
        }
        .manager-text,
        .advisor-text {
            left: 0;
            z-index: -1;
        }

        .manager-text,
        .advisor-text {
            transform: scale(1.01);
        }
    }
}

.manager-img,
.advisor-img {
    position: relative;
    @include size(205px, 205px);
    img {
        width: auto;
        height: 100%;
    }
    &:after {
        content: '';
        display: block;
        background-color: rgba($coin-purple, .2);
        z-index: 1;
        width: 100%;
        height: 205px;
        position: absolute;
        top: 0;
        opacity: 0;
    }
}

.manager-text,
.advisor-text {
    width: 100%;
    padding: 10px 5px 0;
    text-align: center;
    h4 {
        color: #fff;
        padding: 10px 10px 0;
        margin: 0;
    }
    p {
        color: #fff;
        margin: 0;
    }
}

div[class^=manager-dialog],
div[class^=advisor-dialog] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 1px rgba($green, .1);

    .manager-text,
    .advisor-text {
        background-color: rgba($ceo-darkblue, .5);
        padding: 10px 0;
        h4 {
            color: #fff;
            padding: 10px 10px 0;
            margin: 0;
        }
        p {
            color: #fff;
            margin: 0;
        }
    }
}

.mfp-close-btn-in .mfp-close {
    color: hotpink;
}