
// selection1
.section-header{
  h6{
    margin-bottom:10px;
  }
  h4{
    color:$h4-color;
  }
}
.section-body{
  th span{
    font-size:1.0rem;
  }
  th p{
    color: #301570;
    margin:0;
  }
  thead tr th{
    
  }

}
