

// SPOINSER
// SPONSER - Our partner
.sponser-wrapper {
  position: relative;
    overflow: hidden;
    ul {
        position: relative;
        text-align: center;
        .slick-prev {
            left: 15px;
            &:before {
                color: #301570;
                content: "\e079";
                font-family: 'Glyphicons Halflings';
            }
        }
        .slick-next {
            right: 15px;
            &:before {
                color: #301570;
                content: "\e080";
                font-family: 'Glyphicons Halflings';
            }
        }
    }
    li {
        width: 19%;
        vertical-align: middle;
        display: inline-block;
        margin: 10px;
        img {
            width: auto;
            max-height: 80px;
            display: block;
            margin: 0 auto;
        }
    }
}

.icon-status {
  background-color:gray;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  color:#fff;
  width:25px;
  height:25px;
  border-radius: 50%;
}
.icon-status-check{
   background-color:#301570;
}