block advantage
	section#fh5co-about(data-section='about')
		.container
			.row
			.col-md-12.section-heading.text-center
				h2.to-animate Advantages
				.row
				h3.col-md-8.col-md-offset-2.subtext.to-animate.fadeInUp.animated
					| Advantages That Separate Us From the Others
					h4.col-md-8.col-md-offset-2.subtext.to-animate.fadeInUp.animated Using latest technology to increase efficiency and profitability for you
				// Nav tabs
				ul.nav.nav-tabs(role='tablist')
					li.active(role='presentation')
					a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Blockchain
					li(role='presentation')
					a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Cryptocurrencies
					li(role='presentation')
					a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Artificial Intelligence
					li(role='presentation')
					a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Big Data
					li(role='presentation')
					a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') WeChat Pay
					li(role='presentation')
					a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') AliPay
				// Tab panes
				.tab-content
					#home.tab-pane.active(role='tabpanel')
					p Blockchain Technology empowers our loans to be secured, trackable, and reliable.
					img(src='./images/blockchain.jpg', alt='')
					#profile.tab-pane(role='tabpanel')
					p
						| Cryptocurrencies increase our efficency to lend and receive funds comparing to traditional bank transfering.
					img(src='./images/bitcoin.jpeg', alt='')
					#messages.tab-pane(role='tabpanel')
					p
						| Artificial Intelligence helps determine borrowers' credit risk without looking at their credit scores.
					img(src='./images/ai.jpg', alt='')
					#settings.tab-pane(role='tabpanel')
					p
						| Big Data analysis every borrowers' behaviors to predict their future actions and default rates.
					img(src='./images/bigdata.jpg', alt='')
					#settings.tab-pane(role='tabpanel')
					p
						| WeChat Pay is also available on our platform so you can still lend or receive money without a US Bank account.
					img(src='./images/wechat.jpg', alt='')
					#settings.tab-pane(role='tabpanel')
					p
						| AliPay is also available on our platform so you can still lend or receive money without a US Bank account.
					img(src='./images/alipay.jpg', alt='')