block advantage
	section#fh5co-about(data-section='about')
		.container
			.row
				.col-md-12.section-heading.text-center
					h2.to-animate Advantages
					.row
						h3.col-md-8.col-md-offset-2.subtext.to-animate.fadeInUp.animated
							| Advantages That Separate Us From the Others
							h4.col-md-8.col-md-offset-2.subtext.to-animate.fadeInUp.animated Using latest technology to increase efficiency and profitability for you
					// Nav tabs
			.row
				#carousel-advantages.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators
						li.active(data-target='#carousel-advantages', data-slide-to='0')
						li(data-target='#carousel-advantages', data-slide-to='1')
						li(data-target='#carousel-advantages', data-slide-to='2')
						li(data-target='#carousel-advantages', data-slide-to='3')
						li(data-target='#carousel-advantages', data-slide-to='4')
						li(data-target='#carousel-advantages', data-slide-to='5')
					// Wrapper for slides
					.carousel-inner(role='listbox')
						.item.active
							img(src='./images/slider/blockchain.jpg', alt='...')
							.carousel-caption Blockchain Technology empowers our loans to be secured, trackable, and reliable.
						.item
							img(src='./images/slider/bitcoin.jpeg', alt='...')
							.carousel-caption Cryptocurrencies increase our efficency to lend and receive funds comparing to traditional bank transfering.
						.item
							img(src='./images/slider/ai.jpg', alt='...')
							.carousel-caption Artificial Intelligence helps determine borrowers' credit risk without looking at their credit scores.
						.item
							img(src='./images/slider/bigdata.jpg', alt='...')
							.carousel-caption Big Data analysis every borrowers' behaviors to predict their future actions and default rates.
						.item
							img(src='./images/slider/wechat.jpg', alt='...')
							.carousel-caption WeChat Pay is also available on our platform so you can still lend or receive money without a US Bank account.
						.item
							img(src='./images/slider/alipay.jpg', alt='...')
							.carousel-caption AliPay is also available on our platform so you can still lend or receive money without a US Bank account.
					// Controls
					a.left.carousel-control(href='#carousel-advantages', role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
						span.sr-only Previous
					a.right.carousel-control(href='#carousel-advantages', role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
						span.sr-only Next