block explore
	section#alchemy-work(data-section='work')
		.container
			.row
				.section-heading
					h2.col-md-12.to-animate.text-center Explore
						h3.col-md-8.col-md-offset-2.to-animate.text-center Each loan is assigned a rating from AAA (lower risk, lower return) to B3 (higher risk, higher return)
							.table-responsive
								table.table
									tr
										td Highest Grade Credit 
										td Aaa
									tr
										td Very High Grade Credit
										td Aa1, Aa2, Aa3
									tr
										td High Grade Credit
										td A1, A2, A3
									tr
										td Good Credit Grade
										td Baa1, Baa2, Baa3, Baa4
									tr
										td Speculative Credit Grade
										td Ba1, Ba2, Ba3
									tr
										td Very Speculative Credit
										td B1, B2, B3
							p.text-center
								button.btn.btn-primary
									a(href='/apply', data-nav-section='Invest') Become a lender
