block intro
    section#alchemy-intro
        .container
            .row
                .col-md-12.section-heading.text-center.section1-icon.block-padding
                    .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.glyphicon.glyphicon-piggy-bank
                            h2 Earn Solid Returns
                    .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.glyphicon.glyphicon-heart
                            h2 Low Risk
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons attach_money
                            h2 Monthly Income
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons extension
                            h2 Diversify your portfolio
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons assignment_ind
                            h2 Easy Registration Process