block section1
    section#alchemy-home(data-section='home', style='background-image: url(images/full_image_2.jpg);', data-stellar-background-ratio='0.5')
        .gradient
        .container
            .text-wrap
                .text-inner
                    .row
                        .col-md-8.col-md-offset-2
                            h1.to-animate The Best Monthly Cash Flow Asset
                            h2.to-animate register and start earning estimated returns of 7% today
                            p
                                button.btn.focus-button-style
                                    a(href='#', data-nav-section='Invest') View Availabilities
                        .col-md-12
                            a.youtube-player-icon.popup-youtube.to-animate(href='https://www.youtube.com/watch?v=9NJYznYiLfI')
                                i.alchemy-intro-icon.glyphicon.glyphicon-play
        .slant
        //- 影片介紹
        .youtube-videos-content
            .video-background
                .video-foreground
                    iframe#commercialVideo(src='https://www.youtube.com/embed/XEoeOvViYQs?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=XEoeOvViYQs', frameborder='0', allowfullscreen)
    section#alchemy-intro
        .container
            .row
                .col-md-12.section-heading.text-center.section1-icon
                    .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.laptop-icon
                            h2 No SSN Required
                    .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.low-icon
                            h2 Low Interest Rate
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.clock-icon
                            h2 Easy Application Process
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.money_box-icon
                            h2 Build Credit History
    


