block work-invest
    section#fh5co-invest
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate How It Works
                    h3.to-animate Get cash each month as borrowers pay back their loans
                    .fh5co-block.to-animate(style='background-image: url(images/img_7.jpg);')
                        .overlay-darker
                        .overlay
                        .fh5co-text
                            i.fh5co-intro-icon.icon-bulb
                            h2 Explore
                            p Browse loans credit-worthy borrowers by FICO score, rating and term.
                    .fh5co-block.to-animate(style='background-image: url(images/img_8.jpg);')
                        .overlay-darker
                        .overlay
                        .fh5co-text
                            i.fh5co-intro-icon.invest-icon
                            h2 Invest
                            p Select individual loans, or use our Auto Invest tool to build ypur target portfolio based on your criteria.
                    .fh5co-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .fh5co-text
                            i.fh5co-intro-icon.icon-money
                            h2 Earn
                            p Your monthly returns are deposited directly into your account
                .col-md-12.section-heading.text-center
                    h4 *Some restrictions apply. Subject to KYC and AML screening.
                    h3 Alchemy has been seen in
                    div
                        img(src='./images/see-for.png', alt='')
                        img(src='./images/see-inc.jpg', alt='')
                        img(src='./images/see-cnn.png', alt='')
                        img(src='./images/see-huf.png', alt='')
                    button.btn.btn-primary
                        a(href='/apply', data-nav-section='Invest') Become a lender
