* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.navbar-brand {
  padding: 5px;
  width: 250px; }
  .navbar-brand img {
    width: 100%; }

.focus-button-style {
  color: white;
  background: -webkit-linear-gradient(209deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background: -o-linear-gradient(209deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background: linear-gradient(241deg, #FF8C47, #003DFF, #22E099, #FF5D36);
  background-size: 800%,800%;
  border-radius: 5px;
  -webkit-animation: focus-button-style 10s infinite ease;
  animation: focus-button-style 10s infinite ease;
  width: 80%;
  margin: 20px auto; }

.register_btn_style {
  background-color: #e28b00;
  border-radius: 150px; }
  @media screen and (max-width: 769px) {
    .register_btn_style {
      background-color: #fff; } }

#alchemy-header #navbar li a {
  color: rgba(255, 255, 255, 0.8);
  font-style: bold;
  padding: 15px; }

a.alchemy-project-item {
  overflow: hidden;
  min-height: 140px; }
  a.alchemy-project-item img {
    width: 100%;
    height: 200px; }

.applynow-button-style {
  color: white; }

@-webkit-keyframes focus-button-style {
  0% {
    background-position: 0; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

@keyframes focus-button-style {
  0% {
    background-position: 0; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

#alchemy-home .gradient, #alchemy-container.borrow-wrapper .gradient {
  opacity: 0.8; }

.youtube-videos-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8); }
  .youtube-videos-content .video-foreground, .youtube-videos-content .video-foreground iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .youtube-videos-content .video-foreground iframe {
    height: 150%; }

.social-circle {
  margin-top: 10px; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 15px auto;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-menu li {
    display: inline-block; }

.footer-end {
  padding: 10px;
  font-size: 13px;
  background: #52d3aa;
  color: rgba(255, 255, 255, 0.8); }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

.howwork-wrapper {
  text-align: center;
  position: relative;
  margin: 15px auto; }
  .howwork-wrapper img {
    width: 100%; }

.sponser-wrapper {
  text-align: center;
  margin: 15px auto; }
  .sponser-wrapper .sponser {
    width: 150px;
    display: inline-block;
    margin-left: 15px; }
    .sponser-wrapper .sponser img {
      width: 100%; }

#alchemy-container {
  min-height: 100vh; }
