block about
    section#fh5co-about(data-section='about')
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate About
                    .row
                        .col-md-8.col-md-offset-2.subtext.to-animate
                            h3
                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            .row
                .col-md-4
                    .fh5co-person.text-center.to-animate
                        figure
                            img(src='images/person1.jpg', alt='Image')
                        h3 Jean Smith
                        span.fh5co-position Web Designer
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                        ul.social.social-circle
                            li
                                a(href='#')
                                    i.icon-twitter
                            li
                                a(href='#')
                                    i.icon-facebook
                            li
                                a(href='#')
                                    i.icon-dribbble
                .col-md-4
                    .fh5co-person.text-center.to-animate
                        figure
                            img(src='images/person2.jpg', alt='Image')
                        h3 Rob Smith
                        span.fh5co-position Web Developer
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                        ul.social.social-circle
                            li
                                a(href='#')
                                    i.icon-twitter
                            li
                                a(href='#')
                                    i.icon-facebook
                            li
                                a(href='#')
                                    i.icon-github
                .col-md-4
                    .fh5co-person.text-center.to-animate
                        figure
                            img(src='images/person3.jpg', alt='Image')
                        h3 Larry Ben
                        span.fh5co-position Web Designer
                        p
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                        ul.social.social-circle
                            li
                                a(href='#')
                                    i.icon-twitter
                            li
                                a(href='#')
                                    i.icon-facebook
                            li
                                a(href='#')
                                    i.icon-dribbble