block country
    section#fh5co-counters(style='background-image: url(images/full_image_1.jpg);', data-stellar-background-ratio='0.5')
        .fh5co-overlay
        .container
            .row
                .col-md-12.section-heading.text-center.to-animate
                    h2 Fun Facts
            .row
                .col-md-3.col-sm-6.col-xs-12
                    .fh5co-counter.to-animate
                        i.fh5co-counter-icon.icon-briefcase.to-animate-2
                        span.fh5co-counter-number.js-counter(data-from='0', data-to='89', data-speed='5000', data-refresh-interval='50') 89
                        span.fh5co-counter-label Finished projects
                .col-md-3.col-sm-6.col-xs-12
                    .fh5co-counter.to-animate
                        i.fh5co-counter-icon.icon-code.to-animate-2
                        span.fh5co-counter-number.js-counter(data-from='0', data-to='2343409', data-speed='5000', data-refresh-interval='50') 2343409
                        span.fh5co-counter-label Line of codes
                .col-md-3.col-sm-6.col-xs-12
                    .fh5co-counter.to-animate
                        i.fh5co-counter-icon.icon-cup.to-animate-2
                        span.fh5co-counter-number.js-counter(data-from='0', data-to='1302', data-speed='5000', data-refresh-interval='50') 1302
                        span.fh5co-counter-label Cup of coffees
                .col-md-3.col-sm-6.col-xs-12
                    .fh5co-counter.to-animate
                        i.fh5co-counter-icon.icon-people.to-animate-2
                        span.fh5co-counter-number.js-counter(data-from='0', data-to='52', data-speed='5000', data-refresh-interval='50') 52
                        span.fh5co-counter-label Happy clients