block country
    section#alchemy-counters(style='background-image: url(images/full_image_1.jpg);', data-stellar-background-ratio='0.5')
        .alchemy-overlay
        .container
            .row
                .col-md-12.section-heading.text-center.to-animate
                    h2  Alchemy has been seen in
                    .sponser-wrapper
                        .sponser.to-animate
                            img(src="../../images/sponser/icon1.png", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon2.jpg", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon3.png", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon4.png", alt="")
                //- .col-md-3.col-sm-6.col-xs-12
                //-     .alchemy-counter.to-animate
                //-         i.alchemy-counter-icon.icon-briefcase.to-animate-2
                //-         span.alchemy-counter-number.js-counter(data-from='0', data-to='89', data-speed='5000', data-refresh-interval='50') 89
                //-         span.alchemy-counter-label Finished projects
                //- .col-md-3.col-sm-6.col-xs-12
                //-     .alchemy-counter.to-animate
                //-         i.alchemy-counter-icon.icon-code.to-animate-2
                //-         span.alchemy-counter-number.js-counter(data-from='0', data-to='2343409', data-speed='5000', data-refresh-interval='50') 2343409
                //-         span.alchemy-counter-label Line of codes
                //- .col-md-3.col-sm-6.col-xs-12
                //-     .alchemy-counter.to-animate
                //-         i.alchemy-counter-icon.icon-cup.to-animate-2
                //-         span.alchemy-counter-number.js-counter(data-from='0', data-to='1302', data-speed='5000', data-refresh-interval='50') 1302
                //-         span.alchemy-counter-label Cup of coffees
                //- .col-md-3.col-sm-6.col-xs-12
                //-     .alchemy-counter.to-animate
                //-         i.alchemy-counter-icon.icon-people.to-animate-2
                //-         span.alchemy-counter-number.js-counter(data-from='0', data-to='52', data-speed='5000', data-refresh-interval='50') 52
                //-         span.alchemy-counter-label Happy clients