block country
    section#alchemy-counters(style='background-image: url(images/full_image_1.jpg);', data-stellar-background-ratio='0.5')
        .alchemy-overlay
        .container
            .row
                .col-md-12.section-heading.text-center.to-animate
                    h2  Alchemy has been seen in
                    .sponser-wrapper
                        .sponser.to-animate
                            img(src="../../images/sponser/icon1.png", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon2.jpg", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon3.png", alt="")
                        .sponser.to-animate
                            img(src="../../images/sponser/icon4.png", alt="")