block customers
    section#alchemy-testimonials(data-section='testimonials')
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate What customers are saying
                    .row
                        .col-md-8.col-md-offset-2.subtext.to-animate
                            h3
                                | Don't let money be the reason why stopping you from chasing your dream
            .row
                .col-md-3
                    .box-testimony
                        blockquote.to-animate-2
                            p
                                | “BORROWED FOR HER GUITAR COURSES”
                        .author.to-animate
                            figure
                                img(src='images/customers/people1.jpg', alt='Person')
                            p
                                | Jean Doe, New York University
                                //- a(href='http://freehtml5.co/', target='_blank') Info detail
                                span.subtext Student
                .col-md-3
                    .box-testimony
                        blockquote.to-animate-2
                            p
                                | “BORROWED FOR HIS FIRST CAR IN COLLEGE”
                        .author.to-animate
                            figure
                                img(src='images/customers/people2.jpg', alt='Person')
                            p
                                | John Doe, New York University
                                //- a(href='http://freehtml5.co/', target='_blank') Info detail
                                span.subtext Creative Director
                .col-md-3
                    .box-testimony
                        blockquote.to-animate-2
                            p
                                | “BORROWED FOR BUILDING CREDIT SCORE”
                        .author.to-animate
                            figure
                                img(src='images/customers/people3.jpg', alt='Person')
                            p
                                | Chris Nash,New York University
                                //- a(href='http://freehtml5.co/', target='_blank') Info detail
                                span.subtext Creative Director
                .col-md-3
                    .box-testimony
                        blockquote.to-animate-2
                            p
                                | “BORROWED FOR RENT ”
                        .author.to-animate
                            figure
                                img(src='images/customers/people4.jpg', alt='Person')
                            p
                                | Janae ,New York University
                                //- a(href='http://freehtml5.co/', target='_blank') Info detail
                                span.subtext Creative Director
            .row.text-center
                .btn.btn-default apply now