block section1
    section#alchemy-home.borrow-wrapper(data-section='home', style='background-image: url(images/full_image_2.jpg);', data-stellar-background-ratio='0.5')
        .gradient
        .container
            .text-wrap
                .text-inner
                    .row
                        .col-md-8.col-md-offset-2
                            h1.to-animate Easily Accessible Personal Loan
                            h2.to-animate apply and receive an instant decision
                            button.btn.focus-button-style
                                a(href='#', data-nav-section='Invest') View Availabilities
                        .col-md-12
                            a.youtube-player-icon.popup-youtube.to-animate(href='https://www.youtube.com/watch?v=9NJYznYiLfI')
                                i.alchemy-intro-icon.glyphicon.glyphicon-play
                            
        .slant
        //- 影片介紹
        .youtube-videos-content
            .video-background
                .video-foreground
                    iframe#commercialVideo(src='https://www.youtube.com/embed/XEoeOvViYQs?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=XEoeOvViYQs', frameborder='0', allowfullscreen)