block work
    section#alchemy-intro
        .container
            .row
                .col-md-12.section-heading.text-center.section1-icon.block-padding
                    .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons lock_open
                            h2 No SSN Required
                    .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons mood
                            h2 Low Interest Rate
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons settings_applications
                            h2 Easy Application Process
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons timer
                            h2 Get your fund fast 
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons card_membership
                            h2 Build Credit History
                //- .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                //-     .overlay-darker
                //-     .overlay
                //-     .alchemy-text
                //-         i.alchemy-intro-icon.icon-bulb
                //-         h2 Explore
                //-         p Browse loans credit-worthy borrowers by FICO score, rating and term.
                //- .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                //-     .overlay-darker
                //-     .overlay
                //-     .alchemy-text
                //-         i.alchemy-intro-icon.icon-wrench
                //-         h2 Invest
                //-         p
                //-             | Select individual loans, or use our Auto Invest tool to build ypur target portfolio based on your criteria.
                //- .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                //-     .overlay-darker
                //-     .overlay
                //-     .alchemy-text
                //-         i.alchemy-intro-icon.icon-rocket
                //-         h2 Earn
                //-         p Your monthly returns are deposited directly into your account
    section#alchemy-invest
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2 How It Works
                    h3 Get cash each month as borrowers pay back their loans
                    .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.icon-bulb
                            h2 Check Your Rate
                            p Only takes a few minutes to get your lowest eligible rate. 
                    .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.material-icons library_books
                            h2 Sign Loan Agreement
                            p E-sign your loan agreement upon approval and set up your automated monthly payment
                    .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                        .overlay-darker
                        .overlay
                        .alchemy-text
                            i.alchemy-intro-icon.icon-money
                            h2 Get Your Funds
                            p Your money goes straight into your bank account via direct deposit from our platform. 
                .col-md-12.section-heading.text-center
                    h4 *Some restrictions apply. Subject to KYC and AML screening.
                    h3 Alchemy has been seen in
                    div
                        img(src='./images/sponser/see-for.png', alt='')
                        img(src='./images/sponser/see-inc.jpg', alt='')
                        img(src='./images/sponser/see-cnn.png', alt='')
                        img(src='./images/sponser/see-huf.png', alt='')
                    button.btn.btn-primary
                        a(href='/apply', data-nav-section='Invest') apply now

    section#alchemy-work(data-section='work')
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate Achieve Your Goal
                    .row
                        .col-md-8.col-md-offset-2.subtext.to-animate
                            h3
                                | Either you are asking a loan to buy your first car, to start building credit score, to pay medical bills, to pay tuitions, to pay your rent, or to travel, alchemy- is always next to assist you.
            .row.row-bottom-padded-sm
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan1.jpg')
                        img.img-responsive(src='images/goal/loan1.jpg', alt='Image')
                        .alchemy-text
                            h2 Car Loan
                            span Branding
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan2.jpg')
                        img.img-responsive(src='images/goal/loan2.jpg', alt='Image')
                        .alchemy-text
                            h2 Rent
                            span Web
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan3.jpg')
                        img.img-responsive(src='images/goal/loan3.jpg', alt='Image')
                        .alchemy-text
                            h2 Student Loan
                            span Web
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan4.jpg')
                        img.img-responsive(src='images/goal/loan4.jpg', alt='Image')
                        .alchemy-text
                            h2 Medical Bills
                            span UI/UX
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan5.jpg')
                        img.img-responsive(src='images/goal/loan5.jpg', alt='Image')
                        .alchemy-text
                            h2 Credit Score
                            span Photography
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan6.jpg')
                        img.img-responsive(src='images/goal/loan6.jpg', alt='Image')
                        .alchemy-text
                            h2 New Business
                            span Illustration
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan7.jpg')
                        img.img-responsive(src='images/goal/loan7.jpg', alt='Image')
                        .alchemy-text
                            h2 Travelling
                            span Web
                .col-md-3.col-sm-6.col-xs-6.col-xxs-12
                    a.alchemy-project-item.image-popup.to-animate(href='images/goal/loan8.jpg')
                        img.img-responsive(src='images/goal/loan8.jpg', alt='Image')
                        .alchemy-text
                            h2 Special Occasions
                            span Sketch
                    .clearfix.visible-sm-block
            .row
                .col-md-12.text-center.to-animate
                    a.btn.btn-default.applynow-button-style(href='#', target='_blank') Apply now