block work
    section#fh5co-intro
        .container
            .row.row-bottom-padded-lg
                .fh5co-block.to-animate(style='background-image: url(images/img_7.jpg);')
                    .overlay-darker
                    .overlay
                    .fh5co-text
                        i.fh5co-intro-icon.icon-bulb
                        h2 Explore
                        p Browse loans credit-worthy borrowers by FICO score, rating and term.
                .fh5co-block.to-animate(style='background-image: url(images/img_8.jpg);')
                    .overlay-darker
                    .overlay
                    .fh5co-text
                        i.fh5co-intro-icon.icon-wrench
                        h2 Invest
                        p
                            | Select individual loans, or use our Auto Invest tool to build ypur target portfolio based on your criteria.
                .fh5co-block.to-animate(style='background-image: url(images/img_10.jpg);')
                    .overlay-darker
                    .overlay
                    .fh5co-text
                        i.fh5co-intro-icon.icon-rocket
                        h2 Earn
                        p Your monthly returns are deposited directly into your account
                .howwork-wrapper.col-md-12.to-animate
                    h2 How It Works
                    h3 Get cash each month as borrowers pay back their loans
                    img(src="../../images/works/work1.png", alt="")
                .howwork-wrapper.col-md-12.to-animate
                    p *Some restrictions apply. Subject to KYC and AML screening.
                    img(src="../../images/works/work2.png", alt="")
                    button.btn.btn-primary
                        a(href='/apply', data-nav-section='Invest') Become a lender
    section#fh5co-work(data-section='work')
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate Achieve Your Goal
                    .row
                        .col-md-8.col-md-offset-2.subtext.to-animate
                            h3
                                | Either you are asking a loan to buy your first car, to start building credit score, to pay medical bills, to pay tuitions, to pay your rent, or to travel, Alchemy is always next to assist you.
            .row.row-bottom-padded-sm
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan1.jpg')
                        img.img-responsive(src='images/goal/loan1.jpg', alt='Image')
                        .fh5co-text
                            h2 Car Loan
                            span Branding
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan2.jpg')
                        img.img-responsive(src='images/goal/loan2.jpg', alt='Image')
                        .fh5co-text
                            h2 Rent
                            span Web
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan3.jpg')
                        img.img-responsive(src='images/goal/loan3.jpg', alt='Image')
                        .fh5co-text
                            h2 Student Loan
                            span Web
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan4.jpg')
                        img.img-responsive(src='images/goal/loan4.jpg', alt='Image')
                        .fh5co-text
                            h2 Medical Bills
                            span UI/UX
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan5.jpg')
                        img.img-responsive(src='images/goal/loan5.jpg', alt='Image')
                        .fh5co-text
                            h2 Credit Score
                            span Photography
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan6.jpg')
                        img.img-responsive(src='images/goal/loan6.jpg', alt='Image')
                        .fh5co-text
                            h2 New Business
                            span Illustration
                    .clearfix.visible-sm-block
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan7.jpg')
                        img.img-responsive(src='images/goal/loan7.jpg', alt='Image')
                        .fh5co-text
                            h2 Travelling
                            span Web
                .col-md-3.col-sm-6.col-xxs-12
                    a.fh5co-project-item.image-popup.to-animate(href='images/goal/loan8.jpg')
                        img.img-responsive(src='images/goal/loan8.jpg', alt='Image')
                        .fh5co-text
                            h2 Special Occasions
                            span Sketch
                    .clearfix.visible-sm-block
            .row
                .col-md-12.text-center.to-animate
                    a.btn.btn-primary.applynow-button-style(href='#', target='_blank') Apply now