
<div class="container">
  <div class="section-header text-center">
    <h3 class="heading">The Alchemy P2P Lending Process</h3>
    <h4>
       Few steps. It’s easy</h4>
  </div>
  <div class="section-body">
    <div class="alchemy-block to-animate" style="background-image: url(images/img_7.jpg);">
      <div class="overlay-darker"></div>
      <div class="overlay"></div>
      <div class="alchemy-text"><i class="alchemy-intro-icon icon-bulb"></i>
        <h2>Explore</h2>
        <p>Browse loans that have been screened by our credit analysis formula </p>
      </div>
    </div>
    <div class="alchemy-block to-animate" style="background-image: url(images/img_8.jpg);">
      <div class="overlay-darker"></div>
      <div class="overlay"></div>
      <div class="alchemy-text"><i class="alchemy-intro-icon material-icons">looks</i>
        <h2>Invest</h2>
        <p>Select individual loans to build your target portfolio based on your criteria.</p>
      </div>
    </div>
    <div class="alchemy-block to-animate" style="background-image: url(images/img_10.jpg);">
      <div class="overlay-darker"></div>
      <div class="overlay"></div>
      <div class="alchemy-text"><i class="alchemy-intro-icon icon-money"></i>
        <h2>Earn</h2>
        <p>Starting Earning solid and passive monthly returns.</p>
      </div>
    </div>
  </div>
</div>