
<div class="container">
  <div class="section-header text-center">
    <h3 class="heading">Why Alchemy</h3>
    <h4>
       Debt financing has been facilitated by conventional banks for the past few centuries. Recently peer-to-peer (P2P) lending platforms such as Lending Tree and Lending Club disrupted the industry as consumers sought alternative financing channels. The P2P "Revolution" was proliferated in the wake of the 2008 economic financial crisis, and was further popularized as these platforms offered cheaper and more accessible access to financing. Alchemy believes the P2P lending industry is ripe for another wave of disruption with the incoming adoption of cryptographic technologies. We intend to become the leading P2P lending platform on blockchain technology.</h4>
  </div>
  <div class="section-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th> 
            <p>Competitors</p>
          </th>
          <th> 
            <p>Global Access</p>
          </th>
          <th> 
            <p>Anonymous Lender</p>
          </th>
          <th> 
            <p>Secondary Market</p>
          </th>
          <th> 
            <p>Decentralized Intermediate</p>
          </th>
          <th> 
            <p>Trust Level</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alchemy</td>
          <td> <i class="glyphicon glyphicon-ok"></i></td>
          <td>1.02</td>
          <td>0.00085 ETH</td>
        </tr>
        <tr>
          <td>Pre-ICO 7/16/2018 ~ 8/13/2018</td>
          <td> <i class="glyphicon glyphicon-remove"></i></td>
          <td>0.9</td>
          <td>0.00075 ETH</td>
        </tr>
        <tr>
          <td>Private Sales 8/27/2018 ~ 9/10/2018</td>
          <td>5%</td>
          <td>1.14</td>
          <td>0.00095 ETH</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>