
<div class="container card-bg">
  <div class="sponser-wrapper">
    <h3 class="heading">Our Partners</h3>
    <ul class="slick-container">
      <li> <img src="/images/sponsior/partnerships-1.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-2.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-3.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-4.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-5.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-6.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-7.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-8.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-9.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-10.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-11.jpg"/></li>
      <li> <img src="/images/sponsior/partnerships-12.jpg"/></li>
    </ul>
  </div>
  <div class="sponser-wrapper">
    <h3 class="heading">Media Coverage</h3>
    <ul class="slick-container">
      <li> <img src="/images/sponsior2/partnerships-1.png"/></li>
      <li> <img src="/images/sponsior2/partnerships-2.png"/></li>
      <li> <img src="/images/sponsior2/partnerships-3.png"/></li>
      <li> <img src="/images/sponsior2/partnerships-4.png"/></li>
      <li> <img src="/images/sponsior2/partnerships-5.png"/></li>
      <li> <img src="/images/sponsior2/partnerships-6.png"/></li>
    </ul>
  </div>
</div>