 * { box-sizing: border-box; }
 ul,li{
     margin:0;
     padding:0;
 }
.navbar-brand{
    padding:5px;
    width:250px;
    img{width:100%}
}
.focus-button-style{
    color:white;
    background: linear-gradient(241deg, #FF8C47, #003DFF, #22E099, #FF5D36);
    background-size: 800%,800%;
    border-radius: 5px;
    animation:focus-button-style 10s infinite ease;
    width: 80%;
    margin: 20px auto;
}
.register_btn_style{
    background-color: #e28b00;
    border-radius: 150px;
    @media screen  and (max-width: 769px){
        background-color:#fff;
    }
}
#alchemy-header #navbar li a{
    color:rgba(#fff,0.8);
    font-style: bold;
    padding:15px;
}

 a.alchemy-project-item{
     overflow: hidden;
     min-height: 140px;
     
     img{width:100%;height: 200px;}
 }
 .applynow-button-style{
     color:white;
 }

@keyframes focus-button-style{
    0%{
       background-position: 0;
    }
   50%{
      background-position: 100%;
    }
    100%{
      background-position: 0%;
    }
}
// 首頁的設計


#alchemy-home.borrow-wrapper{
    .gradient{opacity: 0.8;}
}
 .youtube-videos-content{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    background-attachment: fixed;
    background-color:rgba(#000,0.8);
    .video-foreground,.video-foreground iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    }
    .video-foreground iframe{
        height:120%;
        @media screen and (min-width:768px) {
        }
        @media screen and (max-width:768px) {
            width:300%;
            left:-100%;
            height: 100%;
        }
    }
 }
 .social-circle{
     margin-top:10px;
 }
 .footer-menu {
     display: flex;
     text-align: center;
     margin:15px auto;
     justify-content: space-around;
    li{ display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            margin-right: 2px;
        }
    }
 }

 .footer-end{
    padding:10px;
     font-size: 14px;
     background:#52d3aa;
     color:rgba(#fff,0.9);
 }


// 工作項目
.howwork-wrapper{
    text-align: center;
    position: relative;
    margin:15px auto;
    img{width:100%;}
}
.sponser-wrapper{
    text-align: center;
    margin:15px auto;
    .sponser{
        width:150px;
        display: inline-block; margin-left:15px;
        img{width:100%;}
    }
}

//分頁的設計

#alchemy-container{
min-height: 100%;
padding:120px 15px;
position: relative;
color:#fff;

    .container{
        position: relative;
        z-index: 3;
        color:#fff;
        line-height: 40px;
        font-size: 30px;
        @media screen and (max-width: 768px) {
            font-size: 15px;
            line-height: 25px;
        }
    }
    .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: .9;
        -webkit-backface-visibility: hidden;
        background-color: #329998;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzMjk5OTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzZjYzk5YyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #329998), color-stop(1, #6cc99c));
        /* Android 2.3 */
        background-image: -webkit-linear-gradient(top left, #329998 0%, #6cc99c 100%);
        /* IE10+ */
        background-image: -webkit-gradient(linear, left top, right bottom, from(#329998), to(#6cc99c));
        background-image: -o-linear-gradient(top left, #329998 0%, #6cc99c 100%);
        background-image: linear-gradient(to bottom right, #329998 0%, #6cc99c 100%);
        background-image: -ms-linear-gradient(top left, #329998 0%, #6cc99c 100%); 
    }
}
#alchemy-home .text-inner a.youtube-player-icon{
    position: relative;
    width:150px;
    height:150px;
    display: block;
    border-radius: 50%;
    margin:20px auto;
    border:2px solid rgba(#fff,0.3);
    i{opacity: 0.3;
        line-height:140px;
        font-size: 60px;
        transition: all 0.5s ease;
    }
    &:hover,&:active{
        background:rgba(#fff,0.6);
        i{font-size:70px;
        opacity: 1;}
    }
    @media screen and (max-width:600px) {
        width:50px;
        height:50px;
        margin:10px auto;
        i{font-size:20px;line-height: 40px;}
        &:hover,&:active{
            background:rgba(#fff,0.6);
            i{font-size:30px;}
        }
    }

}

.section-heading {
    padding-bottom:10px;
    margin-bottom:10px;
}
.social{
    margin-bottom: 10px;
}
@media screen and (max-width: 768px){
    #alchemy-intro, #alchemy-invest{
        margin-top:0;
    }
}
