 * { box-sizing: border-box; }
.navbar-brand{
    padding:5px;
    width:250px;
    img{width:100%}
}
.focus-button-style{
    color:white;
    background: linear-gradient(241deg, #FF8C47, #003DFF, #22E099, #FF5D36);
    background-size: 800%,800%;
    border-radius: 5px;
    animation:focus-button-style 10s infinite ease;
    width: 80%;
    margin: 20px auto;
}
.register_btn_style{
    background-color: #e28b00;
    border-radius: 150px;
}
#fh5co-header #navbar li a{
    color:rgba(#fff,0.8);
    font-style: bold;
    padding:15px;
}

 a.fh5co-project-item{
     overflow: hidden;
     min-height: 140px;
     
     img{width:100%;height: 200px;}
 }
 .applynow-button-style{
     color:white;
 }

@keyframes focus-button-style{
    0%{
       background-position: 0;
    }
   50%{
      background-position: 100%;
    }
    100%{
      background-position: 0%;
    }
}
// 關於我們
 .youtube-videos-content{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    .video-foreground,.video-foreground iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    }
    .video-foreground iframe{
        height:150%;
    }
 }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}