block container
  .sponser-wrapper
    h3.heading Our Partners
    ul.slick-container
      - for(var i = 1; i < 13; i++)
        li 
          img(src='/images/sponsior/partnerships-' + i + '.jpg')
  .sponser-wrapper
    h3.heading Media Coverage
    ul.slick-container
      - for(var i = 1; i < 7; i++)
        li 
          img(src='/images/sponsior2/partnerships-' + i + '.png')