block contact
    section#alchemy-contact(data-section='contact')
        .row
            .col-md-12.section-heading.text-center
                h2.to-animate  Alchemy Finance, Inc 
                .row
                    .col-md-8.col-md-offset-2.subtext.to-animate
                        h3 Contact us at 
        .row
            .col-md-6.to-animate
                h3 Contact Info
                ul.alchemy-contact-info
                    li.alchemy-contact-address
                        i.icon-home
                        | 130 Farmstead Lane, State College, PA, 16803 
                    li
                        i.icon-phone
                        | 814-862-9737 
                    li
                        i.icon-envelope
                        | support@alchemy--finance.com
                    //- li
                    //-     i.icon-globe
                    //-     a(href='http://freehtml5.co/', target='_blank') freehtml5.co
            .col-md-4.col-md-offset-2.to-animate
                h3 Working Time
                ul.working-hours
                    li.date Monday – Friday
                    li 8am – 9pm (ET)
                    li 5am – 6pm (PT)
                    li.date Saturday
                    li 9am – 5:30pm (ET)
                    li 6am – 2:30pm (PT)
        .row
            .col-md-12.text-center
                ul.social.social-circle
                    li
                        a(href='#')
                            i.icon-mail2                      
                    li
                        a(href='#')
                            i.icon-facebook
                    li
                        a(href='#')
                            i.icon-twitter
                    li
                        a(href='#')
                            i.icon-instagram
                    li
                        a(href='#')
                            i.icon-linkedin

                //- .col-md-6.to-animate
                //-     h3 Contact Form
                //-     .form-group
                //-         label.sr-only(for='name') Name
                //-         input#name.form-control(placeholder='Name', type='text')
                //-     .form-group
                //-         label.sr-only(for='email') Email
                //-         input#email.form-control(placeholder='Email', type='email')
                //-     .form-group
                //-         label.sr-only(for='phone') Phone
                //-         input#phone.form-control(placeholder='Phone', type='text')
                //-     .form-group
                //-         label.sr-only(for='message') Message
                //-         textarea#message.form-control(name='', cols='30', rows='5', placeholder='Message')
                //-     .form-group
                //-         input.btn.btn-primary.btn-lg(value='Send Message', type='submit')
        #map.to-animate