block contact
    section#fh5co-contact(data-section='contact')
        .container
            .row
                .col-md-12.section-heading.text-center
                    h2.to-animate Get In Touch
                    .row
                        .col-md-8.col-md-offset-2.subtext.to-animate
                            h3
                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            .row.row-bottom-padded-md
                .col-md-6.to-animate
                    h3 Contact Info
                    ul.fh5co-contact-info
                        li.fh5co-contact-address
                            i.icon-home
                            | 							5555 Love Paradise 56 New Clity 5655, 
                            br
                            | Excel Tower United Kingdom
                        li
                            i.icon-phone
                            |  (123) 465-6789
                        li
                            i.icon-envelope
                            | info@freehtml5.co
                        li
                            i.icon-globe
                            a(href='http://freehtml5.co/', target='_blank') freehtml5.co
                .col-md-6.to-animate
                    h3 Contact Form
                    .form-group
                        label.sr-only(for='name') Name
                        input#name.form-control(placeholder='Name', type='text')
                    .form-group
                        label.sr-only(for='email') Email
                        input#email.form-control(placeholder='Email', type='email')
                    .form-group
                        label.sr-only(for='phone') Phone
                        input#phone.form-control(placeholder='Phone', type='text')
                    .form-group
                        label.sr-only(for='message') Message
                        textarea#message.form-control(name='', cols='30', rows='5', placeholder='Message')
                    .form-group
                        input.btn.btn-primary.btn-lg(value='Send Message', type='submit')
        #map.to-animate