block countdown
	section.base_block.container
		.row
			.left_block.col-sm-7.col-xs-12
				iframe(width="560" height="315" src="https://www.youtube.com/embed/9NJYznYiLfI" frameborder="0" allow="autoplay; encrypted-media" allowfulscreen)
			.right_block.col-sm-5.col-xs-12
				h3 22% bonus finishes in:
				.timer
				.progress
				button.coinBtn
					span BUT COINS NOW
				button.coinBtn_reverse
					span READ WHITEPAPER
