block footer
    footer#footer(role='contentinfo')
        a.gotop.js-gotop(href='#')
            i.icon-arrow-up2
        .container
            .col-md-12.text-center
                //- ul.social.social-circle
                //-     li
                //-         a(href='https://twitter.com/alchemy-_Finance')
                //-             i.icon-twitter
                //-     li
                //-         a(href='#')
                //-             i.icon-facebook
                //-     li
                //-         a(href='https://www.youtube.com/watch?v=9NJYznYiLfI')
                //-             i.icon-youtube
            .col-md-12
                ul.footer-menu
                    li
                        a Prviacy Policy
                    li
                        a Term of Uses
                    li
                        a Blog 
                    li
                        a About Us
                    li
                        a FAQ     
    .footer-end
        .container.text-left
            p Alchemy Notes are offered by prospectus filed with the SEC and you should review the risks and uncertainties described in the prospectus prior to investing in the Notes. Alchemy is not a registered investment adviser, and the information provided is not intended as investment, legal, or tax advice. Alchemy Notes are not insured or guaranteed and investors may have negative returns. Historical Returns are not a promise of future results. Consult with your investment or financial advisor prior to investing.
            p For example a three-year $10,000 loan with a Alcehmy Rating of AA would have an interest rate of 5.32% and a 1% origination fee for an APR of 5.99% APR. You would receive $9,900 and make 36 scheduled monthly payments of $302. A five-year $10,000 loan with a Alchemy Rating of A would have an interest rate of 7.69% and a 5% origination fee for an APR of 9.88% APR. You would receive $9,500 and make 60 scheduled monthly payments of $201.28. Origination fees vary between 1%-5%. Annual percentage rates (APRs) through Alchemy range from 5.99% APR (AA) to 35.99% APR (HR) for first-time borrowers, with the lowest rates for the most creditworthy borrowers. Eligibility is not guaranteed, and requires that a sufficient number of investors commit funds to your account and that you meet credit and other conditions. Refer to Borrower Registration Agreement for details and all terms and conditions.
            p.text-center Alchemy takes your privacy seriously. Please see Alchemy's Privacy Policy policy for more details.
    .footer-end
        .container.text-center
            | © 2017-2018 Alchemy Finance, Inc. All Rights Reserved.

    //- // For demo purposes Only ( You may delete this anytime :-)
    //- #colour-variations
    //-     a.option-toggle
    //-         i.icon-gear
    //-     h3 Preset Colors
    //-     ul
    //-         li
    //-             a(href='javascript: void(0);', data-theme='style')
    //-                 span(style='background: #3f95ea;')
    //-                 span(style='background: #52d3aa;')
    //-                 span(style='background: #f2f2f2;')
    //-         li
    //-             a(href='javascript: void(0);', data-theme='style2')
    //-                 span(style='background: #329998;')
    //-                 span(style='background: #6cc99c;')
    //-                 span(style='background: #f2f2f2;')
    //-         li
    //-             a(href='javascript: void(0);', data-theme='style3')
    //-                 span(style='background: #9f466e;')
    //-                 span(style='background: #c24d67;')
    //-                 span(style='background: #f2f2f2;')
    //-         li
    //-             a(href='javascript: void(0);', data-theme='style4')
    //-                 span(style='background: #21825C;')
    //-                 span(style='background: #A4D792;')
    //-                 span(style='background: #f2f2f2;')