block header
  header#alchemy-header(role='banner')
    .container
      nav.navbar.navbar-default
        .navbar-header
          // Mobile Toggle Menu Button
          a.js-alchemy-nav-toggle.alchemy-nav-toggle(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            i
          a.navbar-brand(href='./borrow.html')
              img(src='/images/logo.png')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#' data-nav-section="home")
                span index
            li
              a(href='#' data-nav-section="Pre-icon")
                span Pre-icon
            li
              a(href='#' data-nav-section="roadmap")
                span Roadmap
            li
              a(href='#' data-nav-section="process")
                span Process
            li
              a(href='#' data-nav-section="whyalchemy")
                span why alchemy
            li
              a(href='#' data-nav-section="management")
                span management
            li
              a(href='#')
                span en