block header
    header#alchemy-header(role='banner')
        .container
            // <div class="row">
            nav.navbar.navbar-default
                .navbar-header
                    // Mobile Toggle Menu Button
                    a.js-alchemy-nav-toggle.alchemy-nav-toggle(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        i
                    a.navbar-brand(href='./borrow.html')
                        img(src='images/logo2.png')
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='./borrow.html')
                                span Borrow
                        li
                            a(href='./invest.html')
                                span Invest
                        li
                            a(href='#')
                                span Login
                        li.active.register_btn.register_btn_style
                            a(href='#')
                                span Register
            // </div>