block manager
	section.black-block.js-manage(data-section="management")
		h3 Management Team
		.row
			- for(var i = 1; i < 9; i++)
				.col-md-3.col-xs-6.col-xxs-12
					a.manager-block.to-animate
						.manager-img 
							img.img-responsive(src="/images/ceo/ceo"+i+".jpg")
						.manager-text 
							h4 CEO NAME
							p Chief Financial Officer
