block section2
  section#alchemy-intro
      .container
          .row
            .section-header.text-center
              h3.heading Why Alchemy
              h4 
                | Debt financing has been facilitated by conventional banks for the past few centuries. Recently peer-to-peer (P2P) lending platforms such as Lending Tree and Lending Club disrupted the industry as consumers sought alternative financing channels. The P2P "Revolution" was proliferated in the wake of the 2008 economic financial crisis, and was further popularized as these platforms offered cheaper and more accessible access to financing. Alchemy believes the P2P lending industry is ripe for another wave of disruption with the incoming adoption of cryptographic technologies. We intend to become the leading P2P lending platform on blockchain technology.
            .col-md-6.text-center.section1-icon
                .alchemy-block.to-animate(style='background-image: url(images/img_7.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text.clearfix
                      .col-xs-4
                        i.alchemy-intro-icon.glyphicon.glyphicon-piggy-bank
                        h2 Step 1
                      .col-xs-8.text-left
                        span Credit borrowers can request to borrow money on our Alchemy P2P platform.
                .alchemy-block.to-animate(style='background-image: url(images/img_8.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text
                      .col-xs-4
                        i.alchemy-intro-icon.glyphicon.glyphicon-heart
                        h2 Step 2
                      .col-xs-8.text-left
                        span Through AI and Machine Learning our platform plans to expedite the credit screening process and push out a risk-adjusted interest rate for the borrower and lender.
                .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text
                      .col-xs-4
                        i.alchemy-intro-icon.material-icons attach_money
                        h2 Step 3
                      .col-xs-8.text-left
                        span Once the rate is agreed upon by both parties, Alchemy then facilitates funds from lender to the borrower’s account.
                .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text
                      .col-xs-4
                        i.alchemy-intro-icon.material-icons extension
                        h2 Step 4
                      .col-xs-8.text-left
                        span Credit borrowers debt is then pooled into Alchemy Collateralized Debt Obligations (CDOs)
                .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text
                      .col-xs-4
                        i.alchemy-intro-icon.material-icons assignment_ind
                        h2 Step 5
                      .col-xs-8.text-left
                        span Debt pools are then split into tranches based on risk profile.
                .alchemy-block.to-animate(style='background-image: url(images/img_10.jpg);')
                    .overlay-darker
                    .overlay
                    .alchemy-text
                      .col-xs-4
                        i.alchemy-intro-icon.material-icons local_play
                        h2 Step 6
                      .col-xs-8.text-left
                        span Investors can purchase Alchemy tokens to have ownership in the CDOs.
                a.btn.to-animate.btn--violet(href='./files/diagram.pdf', target='_blank')
                  i.alchemy-intro-icon.material-icons local_play
                  span(i18n='process_download') Download diagram
            .col-md-6.text-center.section1-icon
              include process-plugin