block roadmap
	.black-block(data-section="roadmap")
		h3 Project Roadmap
		h4 We are really to sky rocket
		.map-wrapper
			section
				.big-ball 
					span 2017
				.map-card
					p 
						span Q1  
						|Formulate engineering and finance team
				.map-card
					p 
						span Q2 
						|Formulate engineering and finance team
				.map-card
					p 
						span Q3 
						|Secure financial institutions and retirement fund management interests; NDIRA and in discussion with a few more.
				.map-card
					p 
						span Q4 
						|Blockchain smart contracts design and acquire strong interest from students and individuals about Alchemy
			section
				.big-ball 
					span 2018
				.map-card
					p 
						span Q1 
						|Blockchain smart contract creation and integration 
				.map-card
					p 
						span Q2 
						|Alpha version of Alchemy P2P lending Network
				.map-card
					p 
						span Q3 
						|Beta Version of Alchemy P2P lending Network
				.map-card
					p 
						span Q4
						|Expand Alchemy P2P Lending Network and integration score and credit risk valuation for potential borrowers
				section
				.big-ball 
					span 2019
				.map-card
					p 
						span Q1  
						|Formulate engineering and finance team
				.map-card
					p 
						span Q2 
						|Formulate engineering and finance team
				.map-card
					p 
						span Q3 
						|Secure financial institutions and retirement fund management interests; NDIRA and in discussion with a few more.
				.map-card
					p 
						span Q4 
						|Blockchain smart contracts design and acquire strong interest from students and individuals about Alchemy

