block whyalchemy
  section.card-bg.js-whyalchemy(data-section="whyalchemy")
    .section-header.text-center.to-animate
      h3.heading Why Alchemy
      h4 
        | Debt financing has been facilitated by conventional banks for the past few centuries. Recently peer-to-peer (P2P) lending platforms such as Lending Tree and Lending Club disrupted the industry as consumers sought alternative financing channels. The P2P "Revolution" was proliferated in the wake of the 2008 economic financial crisis, and was further popularized as these platforms offered cheaper and more accessible access to financing. Alchemy believes the P2P lending industry is ripe for another wave of disruption with the incoming adoption of cryptographic technologies. We intend to become the leading P2P lending platform on blockchain technology.
    .section-body.table-responsive.to-animate
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th 
              p Competitors
            th 
              p Global Access
            th 
              p Anonymous Lender
            th 
              p Secondary Market
            th 
              p Decentralized Intermediate
            th 
              p Trust Level
        tbody
          tr
            td Alchemy
            td
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td
              .gradation
                .gradation__item.gradation__item--active
                .gradation__item.gradation__item--active
                .gradation__item.gradation__item--active
          tr
            td Conventional Banks
            td 
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td 
              .icon-status
            td 
              .icon-status
            td 
              .icon-status
            td
              .gradation
                .gradation__item.gradation__item--active
                .gradation__item
                .gradation__item
          tr
            td Lending Club
            td 
              .icon-status
            td 
              .icon-status
            td 
              .icon-status
            td 
              .icon-status
            td
              .gradation
                .gradation__item.gradation__item--active
                .gradation__item.gradation__item--active
                .gradation__item
          tr
            td Lending Tree
            td 
              .icon-status
            td 
              .icon-status
            td 
              .icon-status
            td 
              .icon-status
            td
              .gradation
                .gradation__item.gradation__item--active
                .gradation__item.gradation__item--active
                .gradation__item
          tr
            td SALT
            td 
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td 
              .icon-status.icon-status-check
                i.glyphicon.glyphicon-ok
            td 
              .icon-status
            td 
              .icon-status
            td
              .gradation
                .gradation__item.gradation__item--active
                .gradation__item.gradation__item--active
                .gradation__item