block section1
  .container
    .section-header.text-center
      h3.heading.heading--lg Pre-ICO will start soon
      h4 
        | Soft Cap: 
        span(style="color: #52d3aa;") $3,000,000 
        | | Hard Cap: 
        span(style="color: #d219e1;") $60,000,000
      h6 Total Token Supply: 125M Alchemy Coin (AFI)
      h6 Avaliable Coins: 50M / 40% of the Total Supply
      h6 Total Number of Tokens for Pre-ICO: 24,953,154
    .section-body
      table.table.table-striped.table-bordered
        thead
          tr
            th 
              p Date
            th 
              p Discount
            th 
              p Cost per AFI 
              span (In,USD,when,ETH,is,In USD when ETH is $1,20,200)
            th 
              p Cost per AFI
              span (In ETH)
        tbody
          tr
            td Private Sales 4/27/2018
            td 15%
            td 1.02
            td 0.00085 ETH
          tr
            td Pre-ICO 7/16/2018 ~ 8/13/2018
            td 25%
            td 0.9
            td 0.00075 ETH
          tr
            td Private Sales 8/27/2018 ~ 9/10/2018
            td 5%
            td 1.14
            td 0.00095 ETH
