doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title alchemy offical website
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='alchemy offical website')
    meta(name='keywords', content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive')
    meta(name='author', content='FREEHTML5.CO')
    // Facebook and Twitter integration
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700', rel='stylesheet', type='text/css')
    // flipclock.css
    link(rel='stylesheet', href='/css/flipclock.css')
    // Animate.css
    link(rel='stylesheet', href='/css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='/css/icomoon.css')
    // Simple Line Icons
    link(rel='stylesheet', href='/css/simple-line-icons.css')
    // Magnific Popup
    link(rel='stylesheet', href='/css/magnific-popup.css/')
    // Bootstrap
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel="stylesheet" href="/css/style.css")
    //
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    link(href="/js/slick/slick-theme.css", rel="stylesheet")
    link(href="/css/alchecoin.css", rel="stylesheet")
    // Modernizr JS
    script(src='/js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='/js/respond.min.js')
  body
    block header
    .index-wrapper
      block countdown
      block section1
      block section2
      block sponsor
      block contact
    block animatebg
    block footer
    // End demo purposes only
    // jQuery
    script(src='/js/jquery.min.js')
    // jQuery Easing
    script(src='/js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='/js/bootstrap.min.js')
    // Waypoints
    script(src='/js/jquery.waypoints.min.js')
    // Stellar Parallax
    script(src='/js/jquery.stellar.min.js')
    // Counter
    script(src='/js/jquery.countTo.js')
    // flipclock
    script(src='/js/flipclock.min.js')
    // Magnific Popup
    script(src='/js/jquery.magnific-popup.min.js')
    script(src='/js/magnific-popup-options.js')
    // Google Map
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false')
    script(src='/js/google_map.js')
    script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="http://threejs.org/examples/js/libs/stats.min.js")
    // For demo purposes only styleswitcher ( You may delete this anytime )
    script(src='/js/jquery.style.switcher.js')
    script(src="/js/slick/slick.min.js")
    
    script(src="/js/index.js")
    
    
    script.
      $(function(){
      $('#colour-variations ul').styleSwitcher({
      defaultThemeId: 'theme-switch',
      hasPreview: false,
      cookie: {
      expires: 30,
      isManagingLoad: true
      }
      });
      $('.option-toggle').click(function() {
      $('#colour-variations').toggleClass('sleep');
      });
      });
    // End demo purposes only
    // Main JS (Do not remove)
    script(src='/js/main.js')
