#alchemy-intro .section1-icon .alchemy-block {
  width: 20%;
  height: 250px; }
  #alchemy-intro .section1-icon .alchemy-block h2 {
    line-height: 1.2; }
  #alchemy-intro .section1-icon .alchemy-block i.alchemy-intro-icon {
    margin-bottom: 10px; }

#alchemy-invest .alchemy-block {
  width: 33.3%; }

.alchemy-intro-icon.laptop-icon:before {
  content: url("../../images/icon/laptop.png"); }

.alchemy-intro-icon.low-icon:before {
  content: url("../../images/icon/low.png"); }

.alchemy-intro-icon.clock-icon:before {
  content: url("../../images/icon/clock.png"); }

.alchemy-intro-icon.money_box-icon:before {
  content: url("../../images/icon/money_box.png"); }

.alchemy-intro-icon.invest-icon:before {
  content: url("../../images/icon/invest.png"); }

#alchemy-work .table-responsive {
  border: none; }

#alchemy-work table {
  margin-top: 50px; }
  #alchemy-work table td {
    text-align: left;
    font-size: smaller; }

#alchemy-work button {
  margin-top: 30px; }
  #alchemy-work button a {
    text-decoration: none; }

#alchemy-about .section-heading {
  padding-bottom: 0; }

#alchemy-join {
  overflow: hidden;
  position: relative;
  padding: 2em 0; }
  #alchemy-join .section-heading {
    margin-bottom: 0; }

#alchemy-contact {
  background: transparent url("../../images/contact-bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3b3d40; }
  #alchemy-contact h3 {
    color: #000; }
  #alchemy-contact ul.working-hours {
    -webkit-padding-start: 0px; }
    #alchemy-contact ul.working-hours li {
      list-style: none; }
      #alchemy-contact ul.working-hours li.date {
        font-weight: bolder; }

button a:focus,
button a:hover {
  text-decoration: none; }

.footer-end p {
  word-wrap: break-word;
  margin-bottom: 1em; }

@media screen and (min-width: 1000px) {
  #alchemy-about .carousel {
    width: 1000px;
    margin: 0 auto; } }

@media screen and (max-width: 769px) {
  #alchemy-intro .section1-icon .alchemy-block {
    max-height: 220px; }
    #alchemy-intro .section1-icon .alchemy-block h2 {
      font-size: 18px;
      margin-bottom: 10px; } }

@media screen and (max-width: 640px) {
  #alchemy-home,
  #alchemy-home .text-wrap {
    height: 100vh; }
  #alchemy-home {
    padding-top: 55px; }
  #alchemy-intro .section1-icon.block-padding {
    padding-left: 10%;
    padding-right: 10%; }
    #alchemy-intro .section1-icon.block-padding .alchemy-block {
      width: 50%;
      padding: 30px;
      max-height: 200px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block h2 {
        font-size: 18px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block i.alchemy-intro-icon {
        margin-bottom: 10px; }
      #alchemy-intro .section1-icon.block-padding .alchemy-block:last-Child {
        width: 50%;
        margin: 0 25%; }
  #alchemy-invest .alchemy-block {
    width: 50%;
    max-height: 300px; }
    #alchemy-invest .alchemy-block .alchemy-text .alchemy-intro-icon {
      margin-bottom: 10px; }
    #alchemy-invest .alchemy-block:last-Child {
      margin: 0 25%; }
  #alchemy-invest {
    margin-top: -50px; } }

@media screen and (max-width: 500px) {
  #alchemy-intro .alchemy-block {
    width: 50%;
    height: 180px; }
    #alchemy-intro .alchemy-block h2 {
      font-size: 14px;
      line-height: 1; }
    #alchemy-intro .alchemy-block .alchemy-intro-icon {
      font-size: 24px;
      margin-bottom: 10px; } }

@media screen and (max-width: 450px) {
  #alchemy-home {
    padding-top: 80px; }
  #alchemy-intro {
    margin-top: 0px; }
    #alchemy-intro .section1-icon.block-padding .alchemy-block:last-Child {
      width: 60%;
      margin: 0 20%; } }

/*# sourceMappingURL=invest-style.css.map */