extends ./layout/template
include ./layout/header.pug
include ./borrow/section1.pug
//- include ./borrow/country.pug
//- include ./borrow/service.pug
include ./borrow/work.pug
//- include ./borrow/about.pug
include ./borrow/customers.pug
include ./layout/contact.pug
include ./layout/footer.pug