block footer
    footer#footer(role='contentinfo')
        a.gotop.js-gotop(href='#')
            i.icon-arrow-up2
        .container
            div
                .col-md-12.text-center
                    p
                        | © Elate Free HTML5. All Rights Reserved. 
                        br
                        | Created by 
                        a(href='http://freehtml5.co/', target='_blank') FREEHTML5.co
                        |  Images: 
                        a(href='http://pexels.com/', target='_blank') Pexels
                        | , 
                        a(href='http://plmd.me/', target='_blank') plmd.me
            .row
                .col-md-12.text-center
                    ul.social.social-circle
                        li
                            a(href='#')
                                i.icon-twitter
                        li
                            a(href='#')
                                i.icon-facebook
                        li
                            a(href='#')
                                i.icon-youtube
    // For demo purposes Only ( You may delete this anytime :-)
    #colour-variations
        a.option-toggle
            i.icon-gear
        h3 Preset Colors
        ul
            li
                a(href='javascript: void(0);', data-theme='style')
                    span(style='background: #3f95ea;')
                    span(style='background: #52d3aa;')
                    span(style='background: #f2f2f2;')
            li
                a(href='javascript: void(0);', data-theme='style2')
                    span(style='background: #329998;')
                    span(style='background: #6cc99c;')
                    span(style='background: #f2f2f2;')
            li
                a(href='javascript: void(0);', data-theme='style3')
                    span(style='background: #9f466e;')
                    span(style='background: #c24d67;')
                    span(style='background: #f2f2f2;')
            li
                a(href='javascript: void(0);', data-theme='style4')
                    span(style='background: #21825C;')
                    span(style='background: #A4D792;')
                    span(style='background: #f2f2f2;')