extends ./layout/template
include ./layout/header.pug
include ./invest/section1.pug
include ./invest/advantage.pug
include ./invest/explore.pug
include ./invest/join.pug
include ./layout/contact.pug
include ./layout/footer.pug