extends ./layout/template.pug
include ./layout/header.pug
include ./layout/countdown.pug
include ./layout/selection1.pug
include ./layout/selection2.pug
include ./layout/sponsor.pug
include ./layout/roadmap.pug
include ./layout/manager.pug
include ./layout/adviser.pug
include ./layout/process.pug
include ./layout/animatebg.pug
include ./layout/footer.pug