#fh5co-intro .section1-icon{
    .fh5co-block{
        width: 25%;
    }
    .fh5co-intro-icon {
        //invest section 1
        &.laptop-icon:before{
            content: url('../../images/icon/laptop.png')
        }
        &.low-icon:before{
            content: url('../../images/icon/low.png')
        }
        &.clock-icon:before{
            content: url('../../images/icon/clock.png')
        }
        &.money_box-icon:before{
            content: url('../../images/icon/money_box.png')
        }
    }
}
